body {
  font-family: "Lato", sans-serif;
  background-color: #fafaf8;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 15px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.6);
}

header > img {
  width: 50px;
  height: 50px;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 40px;
}

.form > input {
  padding: 10px;
  border-radius: 10px;
  border-color: black;
  flex-grow: 100;
  min-width: 150px;
  max-width: 400px;
  margin-left: 30px;
}

.form > button {
  font-family: "Lato", sans-serif;
  margin-right: 30px;
  background-color: black;
  color: #fafaf8;
  border-radius: 10px;
}

.list-items {
  padding-left: 20px;
  width: 400px;
}

.list-container {
  position: relative;
  left: 30px;
  margin-top: 20px;
}

.get-recipe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  min-width: 250px;
  height: 90px;
  margin-top: 100px;
  position: relative;
}

.get-recipe-container button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #ab531d;
  color: #fafaf8;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ai-suggested-recipe {
  color: #475467;
  line-height: 28px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid #d1914b;
  box-sizing: border-box;
  --c: no-repeat radial-gradient(farthest-side, #d64123 94%, #0000);
  --b: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
  background: var(--c) 11px 15px, var(--b) 6px 15px, var(--c) 35px 23px,
    var(--b) 29px 15px, var(--c) 11px 46px, var(--b) 11px 34px,
    var(--c) 36px 0px, var(--b) 50px 31px, var(--c) 47px 43px,
    var(--b) 31px 48px, #f6d353;
  background-size: 15px 15px, 6px 6px;
  animation: l4 3s infinite;
}
@keyframes l4 {
  0% {
    -webkit-mask: conic-gradient(#0000 0, #000 0);
  }
  16.67% {
    -webkit-mask: conic-gradient(#0000 60deg, #000 0);
  }
  33.33% {
    -webkit-mask: conic-gradient(#0000 120deg, #000 0);
  }
  50% {
    -webkit-mask: conic-gradient(#0000 180deg, #000 0);
  }
  66.67% {
    -webkit-mask: conic-gradient(#0000 240deg, #000 0);
  }
  83.33% {
    -webkit-mask: conic-gradient(#0000 300deg, #000 0);
  }
  100% {
    -webkit-mask: conic-gradient(#0000 360deg, #000 0);
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust height as needed */
}
